{
  "_class_name": [
    "pipeline",
    "DeCoPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "transformer": [
    "transformer_deco",
    "DeCoTransformer2DModel"
  ],
  "decoder": [
    "decoder_deco",
    "DeCoPatchDecoderModel"
  ],
  "scheduler": [
    "scheduling_deco_flow_match_euler_discrete",
    "DeCoFlowMatchEulerDiscreteScheduler"
  ]
}
