{
  "_class_name": [
    "pipeline",
    "RAEPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "scheduler": [
    "scheduling_flow_match_rae",
    "RAEFlowMatchScheduler"
  ],
  "transformer": [
    "transformer_rae_ddt",
    "RAEDDTTransformer2DModel"
  ]
}
