{
  "_class_name": "PixelFlowPipeline",
  "_diffusers_version": "0.36.0",
  "scheduler": [
    "scheduling_pixelflow",
    "PixelFlowScheduler"
  ],
  "transformer": [
    "transformer_pixelflow",
    "PixelFlowTransformer2DModel"
  ],
  "id2label": {
    "0": "tench, Tinca tinca",
    "1": "goldfish, Carassius auratus",
    "207": "golden retriever"
  }
}
