{
  "_class_name": [
    "pipeline",
    "SiTPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "vae": [
    "diffusers",
    "AutoencoderKL"
  ],
  "transformer": [
    "transformer_sit",
    "SiTTransformer2DModel"
  ]
}
