{
  "_class_name": [
    "pipeline",
    "JiTPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "scheduler": [
    "scheduling_jit",
    "JiTScheduler"
  ],
  "transformer": [
    "jit_transformer_2d",
    "JiTTransformer2DModel"
  ]
}
