{
  "_class_name": [
    "pipeline",
    "DDTPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "scheduler": [
    "scheduling_flow_match_ddt",
    "DDTFlowMatchScheduler"
  ],
  "vae": [
    "diffusers",
    "AutoencoderKL"
  ],
  "transformer": [
    "transformer_ddt",
    "DDTTransformer2DModel"
  ]
}
