{
  "_class_name": [
    "pipeline",
    "FiTPipeline"
  ],
  "_diffusers_version": "0.36.0",
  "transformer": [
    "fit_transformer_2d",
    "FiTTransformer2DModel"
  ],
  "vae": [
    "diffusers",
    "AutoencoderKL"
  ],
  "scheduler": [
    "diffusers",
    "DDPMScheduler"
  ],
  "id2label": {
    "0": "tench, Tinca tinca",
    "1": "goldfish, Carassius auratus",
    "207": "golden retriever"
  }
}
