{
  "_class_name": [
    "pipeline",
    "JiTPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "scheduler": [
    "scheduling_flow_match_fd",
    "FDLossFlowMatchScheduler"
  ],
  "denoiser": [
    "denoiser_imf",
    "iMFDenoiser"
  ]
}
