{
  "_class_name": [
    "pipeline",
    "LightningDiTPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "scheduler": [
    "diffusers",
    "FlowMatchHeunDiscreteScheduler"
  ],
  "vae": [
    "diffusers",
    "AutoencoderKL"
  ],
  "transformer": [
    "transformer_lightningdit",
    "LightningDiTTransformer2DModel"
  ]
}
