{
  "_class_name": [
    "pipeline",
    "RAEV2Pipeline"
  ],
  "_diffusers_version": "0.31.0",
  "scheduler": [
    "scheduling_flow_match_rae",
    "RAEV2FlowMatchScheduler"
  ],
  "transformer": [
    "transformer_ddt",
    "DiTwDDTHead"
  ]
}
