{
  "_class_name": [
    "pipeline",
    "EDM2Pipeline"
  ],
  "_diffusers_version": "0.31.0",
  "vae": [
    "diffusers",
    "AutoencoderKL"
  ],
  "unet": [
    "unet_edm2",
    "EDM2UNet2DModel"
  ]
}
