{
  "_class_name": [
    "pipeline",
    "ADMPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "unet": [
    "unet_adm",
    "ADMUNet2DModel"
  ],
  "scheduler": [
    "scheduling_adm",
    "ADMScheduler"
  ]
}
