{
  "_class_name": [
    "pipeline",
    "PixNerdPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "scheduler": [
    "scheduling_flow_match_pixnerd",
    "PixNerdFlowMatchScheduler"
  ],
  "vae": [
    "autoencoder_pixel",
    "PixNerdPixelVAE"
  ],
  "transformer": [
    "transformer_pixnerd",
    "PixNerdTransformer2DModel"
  ],
  "conditioner": [
    "conditioner_pixnerd",
    "PixNerdLabelConditioner"
  ]
}
