{
  "_class_name": [
    "pipeline",
    "NiTPipeline"
  ],
  "_diffusers_version": "0.31.0",
  "vae": [
    "diffusers",
    "AutoencoderKL"
  ],
  "scheduler": [
    "scheduling_flow_match_nit",
    "scheduling_flow_match_nit"
  ],
  "transformer": [
    "transformer_nit",
    "NiTTransformer2DModel"
  ]
}
