{
  "_class_name": [
    "pipeline",
    "NiTPipeline"
  ],
  "_diffusers_version": "0.36.0",
  "scheduler": [
    "diffusers",
    "FlowMatchEulerDiscreteScheduler"
  ],
  "transformer": [
    "nit_transformer_2d",
    "NiTTransformer2DModel"
  ],
  "vae": [
    "diffusers",
    "AutoencoderDC"
  ]
}
